body{
margin:0;
}

ul{
list-style-type:none;
padding:0px;
margin:0px;
width:25%;
height:100%;
background-color:#f1f1f1;
position:fixed;
overFlow:auto;
}

li a{
display:block;
padding:8px 16px;
color:black;
text-decoration:none;
}

/*让导航栏横向排列*/
/*li{
float:left;
}*/

li a:hover{
background-color:#555;
color:white;
}

li a:active{
background-color:#4CAF50;
color:white;
}
li a.active{
background-color:#4CAF50;
color:white;
}

/*下拉菜单*/

.dropbtn{
color:white;
padding:16px;
background-color:#0094ff;
font-size:16px;
border:none;
cursor:pointer;
}

.dropdown{
position:relative;
display:inline-block;
}
.dropdown-content{
display:none;
position:absolute;
min-width:160px;
box-shadow:0px 8px 16px 0px rgb(0,0,0,0.2);
background-color:#f9f9f9;
}
.dropdown:hover .dropdown-content{
	display:block;
}

.dropdown-content a{
	background-color:#00000000;
	text-decoration:none;
	display:block;
	color:black;
	padding:12px 16px;
}
	
.dropdown-content a:hover{
	background-color:#f1f1f1;
}

.dropdown:hover .dropbtn{
	background-color:#3e8e41;
}


/*悬停提示*/
.tooltip{
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;/*悬停元素上显示点线*/
}
/*悬停提示文本*/
.tooltip .tooltiptext{
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: white;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;

	/*定位*/
	position: absolute;
	z-index: 1;
	top: -5px;
	left: 105%;
}
/*鼠标移上去后显示提示文字*/
.tooltip:hover .tooltiptext{
	visibility: visible;
}
/*提示底部添加箭头*/
.tooltip .tooltiptext::after{
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}